// default box styles

.boggleBoard {
    width: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 50vh;
    .box {
        border: 1px solid black;
        position: relative;
        a {
            text-align: center;
            font-size: 30px;
            text-decoration: none;     
            color: black;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
}

// selected box styles 

.selected {
    font-weight: 900;
    pointer-events: none;
    cursor: default;
    background: $lightblue;

}

.unclickable {
    pointer-events: none;
    cursor: default;
}


.display {
    color: $darkblue;
}
