.boggleBoard {
    width: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 50vh;
    .box {

        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 2rem;
        }

    }
    
}
