.hide {
    display: none;
}

.wrong {
    background-color: $pink;
}

button {
    background-color: $lightblue;
    color: $black;
    font-weight: 700;
    padding: 20px;
    letter-spacing: 1px;
    border: $darkblue solid 3px;
    border-radius: 50px;
    max-width: 200px;
    &:active {
        transform: scale(0.9);
    }
}
