.firstPage {
    header {
        display: flex;
        justify-content: center;
        height: 10vh;
        text-align: center;
        border-left: 0.5px grey solid;
        border-right: 0.5px grey solid;
        margin-top: 100px;
    }
    main {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        border-left: 0.5px grey solid;
        border-right: 0.5px grey solid;

    }
    footer {
        text-align: center;
        height: 10vh;
    }
    
}

.frontHead {
    width: 80%;
    display: flex;
    justify-content: center;
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .frontHead {
        h1 {
            font-size: 2.7rem;
        }
        p {
        font-size: 1rem;
        }
    }
}

