html {
    font-size: 20px;
    font-family: 'Cutive', serif;
    background-image: url(../../assets/dust_scratches.png);

}

.wrapper {
    width: 70%;
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .wrapper {
        width: 85%;
    }
}

h1 {
    padding: 0;
    margin: 0;
    color: $darkblue;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}



header .wrapper {
    display: flex;
    flex-direction: row;
    img {
        width: 50%;
    }
}

footer {
    font-size: 12px;
    text-align: center; 
    margin-top: 10px;
    color: $darkblue;
    p {
        margin: 0;
        padding: 0;
    }
}



